.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title {
  font-size: 22px;
  font-weight: 700;

  color: var(--text-color);
}

/* TABLET */
@media screen and (min-width: 768px) {
  .wrapper {
    gap: 28px;
  }

  .title {
    font-size: 26px;
  }
}

/* DESKTOP */
@media screen and (min-width: 1020px) {
  .wrapper {
    gap: 32px;
  }

  .title {
    font-size: 30px;
  }
}