.container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 16px;
}

.sidebar {
  width: 100%;
}


.main {
  width: 100%;
}

/* TABLET */
@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
    align-items: flex-start;

    gap: 24px;
    padding: 24px;
  }

  .sidebar {
    width: 220px;
    flex-shrink: 0;
  }

  .main {
    flex: 1;
  }
}

/* DESKTOP */
@media screen and (min-width: 1020px) {
  .container {
    gap: 32px;
    padding: 32px 48px;
  }

  .sidebar {
    width: 260px;
    position: sticky;
    top: 20px; 
    height: fit-content;
  }
}